*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #98FB98;
    color: Black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-lista-item a{
    text-decoration: none; 
    color: Black;
}

.empresa-imagem{
    width: 25%;
}

#empresa{
    background-image: linear-gradient(#98FB98,#9ACD32);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.empresa-div-conteudo{
    width: 35%;
}


.empresa-titulo{
    padding: 24px 0;
}

#campo{
    padding: 24px 0;
}


.campo-imagem{
    width: 120px;
}

.campo-icone{
    width: 24px;
    padding: 4px 8px;
}

.campo-div{
    text-align: center;
    padding: 16px 0;
}

.campo-titulo{
    text-align: center;
    padding: 50px 0;
}

.campo-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
